.DS_Store

build/
.repos/
.bootstrap.local/
.bootstrap.auto/

mulle-build.sublime-workspace
mulle-analyze
mulle-clean
mulle-git
mulle-install
mulle-status
mulle-tag
mulle-test
mulle-update
mulle-xcodeproj
mulle-xcode