.DS_Store

build/
*.old
*.bak
tmp.*

*.sublime-workspace
package/
mulle-project/publisher-info.sh
NARRATIVE.md
test/*build/
tests/01-passthru-build/infodir.mulle-build/
tests/02-sourcetree-build/.mulle-sourcetree/db/
tests/02-sourcetree-build/.mulle-sourcetree/var/
tests/02-sourcetree-build/src/.mulle-sourcetree-fix

